<article class="{{post_class}} strip-post">
    <header>
        <h1>{{title}}</h1>
        {{> strip-navigation}}
    </header>

    {{#if feature_image}}
    <div class="strip">
        <img src="{{img_url feature_image}}" alt="{{title}}">
    </div>
    {{/if}}

    <div class="readable">
    {{content}}
    </div>

    <footer>
        <p class="strip-meta">By {{author}} –
        Posted on
           <time datetime="{{date format='YYYY-MM-DD'}}">{{date}}</time>.
        </p>
        {{> strip-navigation}}
    </footer>
</article>
