{{!< default}}

{{#author}}
<article class="page">
    <header>
        <p><img src="{{img_url profile_image}}" alt="{{name}}" width="100" class="avatar"></p>
        <h1>{{name}}</h1>
    </header>
    {{#if bio}}<p class="readable">{{bio}}</p>{{/if}}

    <footer>
        {{#if location}}<p>{{location}}.</p>{{/if}}
        {{#if website}}<p><a href="{{website}}">Website</a>.</p>{{/if}}
    </footer>
</article>
{{/author}}
